<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<!-- Cadena de conexión para PostgreSQL en Render - Control Estudiantes -->
		<add name="ConexionBD"
			 connectionString="Host=aws-0-us-east-2.pooler.supabase.com;Port=5432;Database=control_escolar;Username=postgres.mapioktpenlkhnqtreyh;Password=Ba553ng!n33r200;SSL Mode=Require;Trust Server Certificate=true;"
			 providerName="Npgsql" />
	</connectionStrings>
</configuration>
